<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <p>See what's </p>
    <h2>YOUR SONG</h2>
  </div>
</section>
<br>
<br>

<form [formGroup]="songForm" style="margin-left: 10%;margin-top: 3%;width: 80%">
  <h3>Crete New Song</h3>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="artist">Artist:</label>
    <input type="text" class="form-control" id="artist" formControlName="artist" placeholder="artist">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Chose file mp3</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <label for="cover_art_url">Chose file img</label>
    <input type="file" class="form-control-file" id="cover_art_url" formControlName="cover_art_url">
  </div>
  <div class="progress-bar-container" [style.backgroundColor]="backgroundColor">
    <div class="progress" [ngStyle]="{
    backgroundColor: progressColor,
    width: width + '%'}">
    </div>
  </div>
  <br>
  <input type="submit" value="Create" (click)="createSong()" class="btn btn-outline-primary">
  <button class="btn btn-outline-primary" [routerLink]="['/personal']"
          style="float: right">Back</button>
</form>
<br>
<br>

