

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <p>See what's </p>
    <h2>List Song</h2>
  </div>
</section>
<br>
<br>
<table class="table" style="width: 80%;margin-left: 10%">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Img</th>
    <th scope="col">Name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let p of songs; index as i" >
    <th scope="row">{{i}}</th>
    <td><img src="{{p.cover_art_url}}" alt="" width="50px" height="50px"></td>
    <td> <a [href]="'http://localhost:4200/newSong30/'+ p.songId"  >
      <h6>{{p.name}}</h6>
    </a></td>
    <td>

<!--      chinh sua play list-->
      <div *ngIf="loginRequest.id === playlist.user.userId; else msp">
        <button  class="btn btn-danger" style="float:right" (click)="delete(p)">Delete</button>
      </div>


      <ng-template #msp>

      </ng-template>
    </td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
