
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <p>See what's </p>
    <h2>NEW SONG</h2>
  </div>
</section>
<br>
<br>
<table class="table" style="width: 80%;margin-left: 10%">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Img</th>
    <th scope="col">Name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let p of songListDate30; index as i" >
    <th scope="row">{{i}}</th>
    <td><img src="{{p.cover_art_url}}" alt="" width="50px" height="50px"></td>
    <td> <a [href]="'http://localhost:4200/newSong30/'+ p.songId"  >
      <h6>{{p.name}}</h6>
    </a></td>
    <td><div class="dropdown">
      <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div *ngIf="loginRequest!=null; else tmp">
          <a class="dropdown-item" style="color:#000000" [routerLink]="'/createPlaylist'">New Playlist  +</a>
          <div class="dropdown-divider"  ></div>
          <div *ngFor="let pr of playList">
            <a class="dropdown-item" style="color:#6c757d" (click)="addPlaylistSong(p, pr)">{{pr.name}}</a>
          </div>
        </div>
        <ng-template #tmp>
          <p>Please Login...</p>
        </ng-template>
      </div>
    </div></td>

  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
