
<div *ngIf="audioFile">
  <audio autoplay id="audioFile" preload="true">
  </audio>
  <div id="player" class="container-fluid">
    <div>
      <div id="album-art" style="float: left">
         <span>
          <img src="{{song.cover_art_url}}" alt="" style="width:50px;height:50px">
        </span>
        <span style="margin-left:2%;color:#CCCCCC;font-size:2.5vh">{{song.name}}</span>
        <span style="margin-left:2%;color:#0a1817;font-size:2.5vh">---  {{song.artist.name}}</span>
      </div>

      <div id="menu" style="float: left; margin-left: 30%">
        <button id="repeat" style="color:grey"><i class="fa fa-repeat"></i></button>
        <button id="prev"><i class="fa fa-step-backward" (click)="previousSong($event)"></i></button>
        <button id="play"><i id="playbutton" (click)="playpause()" class="fa fa-pause" ></i></button>
        <button id="next"><i class="fa fa-step-forward" (click)="nextSong()"></i></button>
        <button id="shuffle" style="color:grey"><i class="fa fa-random"></i></button>
      </div>
      <div style="float:right; margin-top: 2%;width: 25%">
        <input id="progress-bar" type="range" style="width: 80%"
               min="0" max="{{audioFile.duration}}" value="0" [value]="seek" (input)="setSeek($event)">
        <div style="width: 80%;margin-top: 1.5%">
          <span id="currentTime" style="color: #000000;margin-left:2%; float:left">{{currentTime}}</span>
          <span style="color: #000000;float:right" id="totalTime">{{duration}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- partial -->
