
<!--navbar-->
<div class="preloader d-flex align-items-center justify-content-center">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
   <span><a href="index.html" class="nav-brand"><img src="assets/img/core-img/logo.png" alt=""
                                                     style="width: 120px; height: 45px"></a></span>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 5%; width: 90%">

      <a class="nav-link" href="index.html" style="color:#062c33;font-size: 17px">HOME <span
        class="sr-only">(current)</span></a>

      <a class="nav-link" href="#" style="color: #062c33;font-size: 17px">PLAY LIST</a>

      <a class="nav-link" [routerLink]="'/top30'" style="color: #062c33;font-size: 17px">TOP 100</a>

      <a class="nav-link disabled" [routerLink]="'/newSong30'" tabindex="-1" aria-disabled="true"
         style="color: #062c33;font-size: 17px">NEW SONGS</a>

      <a class="nav-link disabled" [routerLink]="'/newSong30'" tabindex="-1" aria-disabled="true"
         style="color: #062c33;font-size: 17px">SINGER</a>

      <form class="form-inline my-2 my-lg-0" style="margin-left: 10%">
        <input class="form-control mr-sm-2" type="search" name="search " formControlName="search"
               placeholder="Search" aria-label="Search" style="background: #f4ffea" #search>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <a style="color: currentColor"
             [href]="'http://localhost:4200/search/' + this.search.value">search</a>
        </button>
      </form>
      <div style="margin-left: 20%" class="form-inline my-2 my-lg-0">
        <div *ngIf="loginRequest; else tmp">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Hi: {{loginRequest.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="'/personal'">Personal Music</a>
              <a class="dropdown-item" href="#">My Playlist</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [href]="'http://localhost:4200'" (click)="logOut()">Log Out</a>
            </div>
          </div>
        </div>
        <ng-template #tmp>
          <a [routerLink]="'/login'" >Login</a> | <a>Register</a>
        </ng-template>
      </div>
    </ul>

  </div>
</nav>

<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchByName()">Search</button>-->

<!--slideshow dau trang-->

<router-outlet (activate)="onChanges()" ></router-outlet>

<footer class="footer-area">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center">

      <div class="col-12 col-md-6">
        <div class="footer-nav">
          <p class="copywrite-text"><a href="">
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true">
            </i> by <a href="" target="_blank">Salvo</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>

