<div class="row">
  <!-- Single Album Area -->
  <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let p of songList6">
    <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" *ngIf="p!= null">
      <div class="album-thumb">
        <img src="{{p.cover_art_url}}" alt="">
        <!-- Play Icon -->
        <div class="play-icon">
          <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
        </div>
      </div>
      <div class="album-info">
        <a [href]="'http://localhost:4200/'+ p.songId"  >
          <h5>{{p.name}}</h5>
        </a>
        <p>{{p.artist.name}}</p>
      </div>
    </div>
  </div>
</div>
