

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <p>See what's </p>
    <h2>YOUR SONG</h2>
  </div>
</section>
<br>
<br>

<form [formGroup]= "songForm" style="width: 80%; margin-left: 10%; margin-top:3%">
  <div class="form-group">
    <label>Song Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Song Name Not Empty
      </div>
    </div>
    <div class="form-group">
      <label>Artist</label>
      <input type="text" class="form-control" formControlName="artist"  placeholder="Enter artist">
      <div *ngIf="artist.invalid && (artist.dirty || artist.touched)"
           class="alert alert-danger">
        <div *ngIf="artist.errors.required">
          Artist Not Empty
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" class="form-control" formControlName="genre"  placeholder="Enter genre">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <textarea class="form-control " formControlName="description" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description" rows="10" cols="5"></textarea>
    </div>
    <div>
      <label>Cover Art</label>
      <input type="file" class="form-control" (change)="checkCoverArtFile( $event)" placeholder="Cover Art">
      <br>
      <div *ngIf="checkedCoverArtFile" class="alert alert-danger">
        Just image file only
      </div>
      <div *ngIf="message2" class="alert alert-success" style="height:40px">
        <p style="font-size:20px; margin-top: -15px">{{message2}}</p>
      </div>
    </div>
    <div>
      <label>Choose Song</label>
      <input type="file" class="form-control" (change)="checkFile($event)"  placeholder="songFile">
      <br>
      <div *ngIf="checkSongFile" class="alert alert-danger">
        Just mp3 file only
      </div>
    </div>
    <br>
    <div class="progress" *ngIf="process$  as progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': progress + '%' }"></div>
    </div>
    <br>
    <div *ngIf="message" class="alert alert-success" style="height:40px">
      <p style="font-size:20px; margin-top: -15px">{{message}}</p>
    </div>
  </div>
  <button  class="btn btn-success" [routerLink]="['/personal']" style="float:right">Back to list</button>
  <button type="submit" [disabled]="checkform()"  class="btn btn-primary" (click)="submit()" style="float:right; margin-right:1%">Submit</button>
</form>
<br><br>
